label {
	position: relative;
	top: 0;
	color: black;
	font-size: 30px;
	font-weight: 900;
}

.scoreBox {
	position: absolute;
	border: 2px solid yellow;
	height: 100px;
	width: 200px;
	top: 0;
	left: 38.5%;
	text-align: center;
	/* background-color: white; */
}